{% extends 'base.html'%} {% load static %} {% block content %}
<!-- Start Sidebar Modal -->
<div class="sidebar-modal">
    <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">
									<i class="bx bx-x"></i>
								</span>
							</button>
                    <h2 class="modal-title" id="myModalLabel2">
                        <a href="index.html">
                            <img src="assets/img/logo/logo-one.png" alt="Logo">
                        </a>
                    </h2>
                </div>
                <div class="modal-body">
                    <div class="sidebar-modal-widget">
                        <h3 class="title">درباره ما</h3>
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                    </div>
                    <div class="sidebar-modal-widget">
                        <h3 class="title">پیوندهای اضافی</h3>
                        <ul>
                            <li>
                                <a href="log-in.html">ورود</a>
                            </li>
                            <li>
                                <a href="sign-up.html">ثبت نام</a>
                            </li>
                            <li>
                                <a href="faq.html">سوالات متداول</a>
                            </li>
                            <li>
                                <a href="#">خروج</a>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-modal-widget">
                        <h3 class="title">اطلاعات تماس</h3>
                        <ul class="contact-info">
                            <li>
                                <i class="bx bx-location-plus"></i> آدرس
                                <span>ایران ، تهران ، میدان آزادی ، خیابان 9 شرقی</span>
                            </li>
                            <li>
                                <i class="bx bx-envelope"></i> ایمیل
                                <span>hello@prevoz.com</span>
                            </li>
                            <li>
                                <i class="bx bxs-phone-call"></i> تلفن
                                <span>021-87654321, 021-12345678</span>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-modal-widget">
                        <h3 class="title">با ما در ارتباط باشید</h3>
                        <ul class="social-list">
                            <li>
                                <a href="#">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class='bx bxl-instagram'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class='bx bxl-linkedin'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class='bx bxl-youtube'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Sidebar Modal -->

<!-- Start Search Box Modal -->
<div class="search-wrap">
    <div class="search">
        <button type="button" class="close">×</button>
        <form>
            <input type="search" value="" class="form-control" placeholder="جستجو کنید ..." />
            <button type="submit" class="default-btn">
						جستجو
					</button>
        </form>
    </div>
</div>
<!-- End Search Box Modal -->


<!-- Start Sign Up Area -->
<section class="sign-up-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contact-form-action">
                    <div class="form-heading text-center">
                        <h3 class="form-title">وارد حساب کاربری خود شوید!</h3>
                        <p class="form-desc">با شبکه اجتماعی خود وارد شوید</p>
                    </div>
                    <form method="post">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <button class="default-btn" type="submit">
											<i class="bx bxl-google"></i> 
											گوگل
										</button>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <button class="default-btn" type="submit">
											<i class="bx bxl-facebook"></i>
											فیسبوک
										</button>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <button class="default-btn" type="submit">
											<i class="bx bxl-twitter"></i> توئیتر 
										</button>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="name" placeholder="نام کاربری یا ایمیل">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" type="password" name="password" placeholder="کلمه عبور">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 form-condition">
                                <div class="agree-label">
                                    <input type="checkbox" id="chb1">
                                    <label for="chb1">
												مرا به خاطر بسپار
											</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <a class="forget" href="recover-password.html">بازیابی کلمه عبور؟</a>
                            </div>
                            <div class="col-12">
                                <button class="default-btn btn-two" type="submit">
											وارد شوید
										</button>
                            </div>
                            <div class="col-12">
                                <p class="account-desc">
                                    عضو نیستید؟
                                    <a href="sign-up.html">ثبت نام</a>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Sign Up Area -->
{% endblock content %}