{% extends 'base.html'%} {% load static %} {% block content %}
<!-- Start Sign Up Area -->
<section class="sign-up-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contact-form-action">
                    <div class="form-heading text-center">
                        <h3 class="form-title">ایجاد یک حساب کاربری!</h3>
                        <p class="form-desc">با شبکه اجتماعی خود وارد شوید.</p>
                    </div>
                    <form method="post">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <button class="default-btn btn-two" type="submit">
                                    <i class="bx bxl-google"></i> 
                                    گوگل
                                </button>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <button class="default-btn btn-two" type="submit">
                                    <i class="bx bxl-facebook"></i>
                                    فیسبوک
                                </button>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <button class="default-btn btn-two" type="submit">
                                    <i class="bx bxl-twitter"></i>
                                    توئیتر
                                </button>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="name" placeholder="نام">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 ">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="name" placeholder="نام خانوادگی">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="name" placeholder="نام کاربری شما">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <input class="form-control" type="email" name="email" placeholder="آدرس ایمیل">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="password" placeholder="کلمه عبور">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 ">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="password" placeholder="تائید کلمه عبور">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 form-condition">
                                <div class="agree-label">
                                    <input type="checkbox" id="chb1">
                                    <label for="chb1">
                                        من با قوانین موافق هستم 
                                        <a href="#">شرایط و ضوابط</a>
                                    </label>
                                </div>
                                <div class="agree-label">
                                    <input type="checkbox" id="chb2">
                                    <label for="chb2">
                                        من با قوانین موافق هستم 
                                        <a href="#">شرایط خدمات</a>
                                    </label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="default-btn btn-two" type="submit">
                                    ثبت نام
                                </button>
                            </div>
                            <div class="col-12">
                                <p class="account-desc">
                                    حساب کاربری دارید؟
                                    <a href="{% url 'login_page' %}"> ورود</a>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Sign Up Area -->
{% endblock content %}