{% extends 'base.html'%} {% load static %} {% block content %}
<!-- Start Sidebar Modal -->
<div class="sidebar-modal">
    <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">
									<i class="bx bx-x"></i>
								</span>
							</button>
                    <h2 class="modal-title" id="myModalLabel2">
                        <a href="index.html">
                            <img src="assets/img/logo/logo-one.png" alt="Logo">
                        </a>
                    </h2>
                </div>
                <div class="modal-body">
                    <div class="sidebar-modal-widget">
                        <h3 class="title">درباره ما</h3>
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                    </div>
                    <div class="sidebar-modal-widget">
                        <h3 class="title">پیوندهای اضافی</h3>
                        <ul>
                            <li>
                                <a href="log-in.html">ورود</a>
                            </li>
                            <li>
                                <a href="sign-up.html">ثبت نام</a>
                            </li>
                            <li>
                                <a href="faq.html">سوالات متداول</a>
                            </li>
                            <li>
                                <a href="#">خروج</a>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-modal-widget">
                        <h3 class="title">اطلاعات تماس</h3>
                        <ul class="contact-info">
                            <li>
                                <i class="bx bx-location-plus"></i> آدرس
                                <span>ایران ، تهران ، میدان آزادی ، خیابان 9 شرقی</span>
                            </li>
                            <li>
                                <i class="bx bx-envelope"></i> ایمیل
                                <span>hello@prevoz.com</span>
                            </li>
                            <li>
                                <i class="bx bxs-phone-call"></i> تلفن
                                <span>021-87654321, 021-12345678</span>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-modal-widget">
                        <h3 class="title">با ما در ارتباط باشید</h3>
                        <ul class="social-list">
                            <li>
                                <a href="#">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class='bx bxl-instagram'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class='bx bxl-linkedin'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class='bx bxl-youtube'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Sidebar Modal -->

<!-- Start Search Box Modal -->
<div class="search-wrap">
    <div class="search">
        <button type="button" class="close">×</button>
        <form>
            <input type="search" value="" class="form-control" placeholder="جستجو کنید ..." />
            <button type="submit" class="default-btn">
						جستجو
					</button>
        </form>
    </div>
</div>
<!-- End Search Box Modal -->

<!-- Start Prevoz Slider Area -->
<section class="prevoz-slider-area">
    <div class="prevoz-slider owl-carousel owl-theme">
        <div class="prevoz-slider-item slider-item-bg-1">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="prevoz-slider-text overflow-hidden one">
                            <span>خدمات لجستیکی</span>
                            <h1>خط بین اختلال و نظم در تدارکات نهفته است</h1>
                            <p>اگر هزینه حمل و نقل را در فضا کم کنیم ، می توانیم کارهای بزرگی انجام دهیم.</p>
                            <div class="slider-btn">
                                <a class="default-btn active" href="#">
											خدمات ما
										</a>
                                <a class="default-btn white" href="#">
											درخواست نقل قول
										</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="prevoz-slider-item slider-item-bg-2">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="prevoz-slider-text overflow-hidden two">
                            <span>خدمات لجستیکی</span>
                            <h1>خط بین اختلال و نظم در تدارکات نهفته است</h1>
                            <p>اگر هزینه حمل و نقل را در فضا کم کنیم ، می توانیم کارهای بزرگی انجام دهیم.</p>
                            <div class="slider-btn">
                                <a class="default-btn active" href="#">
											خدمات ما
										</a>
                                <a class="default-btn white" href="#">
											درخواست نقل قول
										</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="prevoz-slider-item slider-item-bg-3">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="prevoz-slider-text overflow-hidden three">
                            <span>خدمات لجستیکی</span>
                            <h1>خط بین اختلال و نظم در تدارکات نهفته است</h1>
                            <p>اگر هزینه حمل و نقل را در فضا کم کنیم ، می توانیم کارهای بزرگی انجام دهیم.</p>
                            <div class="slider-btn">
                                <a class="default-btn active" href="#">
											خدمات ما
										</a>
                                <a class="default-btn white" href="#">
											درخواست نقل قول
										</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Prevoz Slider Area -->
<div>



</div>

<!-- Start Why Choose Us Area -->
<section class="choose-us-area pb-100">
    <div class="container">
        <div class="section-title">
            <span>چرا ما را انتخاب کنید</span>
            <h2>ما در بین آنها بهترین هستیم</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 pr-0">
                <div class="choose-img choose-img-one">
                </div>
            </div>
            <div class="col-lg-8 pl-0">
                <div class="choose-tab-wrap">
                    <h2>چرا شرکت ما بهترین است</h2>
                    <div class="tab quote-list-tab choose-tab">
                        <ul class="tabs">
                            <li>
                                <a href="#">
											ماموریت ما
										</a>
                            </li>
                            <li>
                                <a href="#">
											چشم انداز ما
										</a>
                            </li>
                            <li>
                                <a href="#">
											هدف ما
										</a>
                            </li>
                        </ul>
                        <div class="tab_content">
                            <div class="tabs_item">
                                <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>

                                <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                                <a class="default-btn" href="about-us.html">
											در مورد ما
										</a>
                            </div>

                            <div class="tabs_item">
                                <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>

                                <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                                <a class="default-btn" href="about-us.html">
											در مورد ما
										</a>
                            </div>

                            <div class="tabs_item">
                                <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>

                                <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                                <a class="default-btn" href="about-us.html">
											در مورد ما
										</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Why Choose Us Area -->

<!-- Start Counter Area -->
<section class="counter-area fun-blue-bg pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-counter">
                    <i class="flaticon-box"></i>
                    <h2>
                        <span class="traget">K</span> <span style="direction: ltr;" class="odometer" data-count="8845">00</span>
                    </h2>
                    <p>بسته های تحویل</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-counter">
                    <i class="flaticon-planet-earth"></i>
                    <h2>
                        <span class="traget">M</span> <span style="direction: ltr;" class="odometer" data-count="1507">00</span>
                    </h2>
                    <p>کشورهای تحت پوشش</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-counter">
                    <i class="flaticon-support"></i>
                    <h2>
                        <span class="traget">K</span> <span style="direction: ltr;" class="odometer" data-count="1000">00</span>
                    </h2>
                    <p>مشتری های راضی</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-counter">
                    <i class="flaticon-product-realise"></i>
                    <h2>
                        <span class="traget">M</span> <span style="direction: ltr;" class="odometer" data-count="4586">00</span>
                    </h2>
                    <p>تن کالا</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Counter Area -->

<!-- start Service Area -->
<section class="service-area pt-100 pb-100">
    <div class="container">
        <div class="section-title">
            <span>ما خدمات ارائه می دهیم </span>
            <h2>خدمات لجستیکی نخستین برای شرکت های لجستیک جهان.</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-service">
                    <div class="service-content-wrap">
                        <i class="icon flaticon-home"></i>
                        <h3>حرکت مسکونی</h3>
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                    </div>
                    <div class="service-heading">
                        <a class="circle-read-more" href="service-details.html">
                            <h3>حرکت مسکونی</h3>
                            <i class="flaticon-left"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-service">
                    <div class="service-content-wrap">
                        <i class="icon flaticon-package"></i>
                        <h3>جابجایی شرکت</h3>
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                    </div>
                    <div class="service-heading">
                        <a class="circle-read-more" href="service-details.html">
                            <h3>جابجایی شرکت</h3>
                            <i class="flaticon-left"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 offset-md-3 offset-sm-3 offset-lg-0">
                <div class="single-service">
                    <div class="service-content-wrap">
                        <i class="icon flaticon-server"></i>
                        <h3>انبار و ذخیره سازی</h3>
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                    </div>
                    <div class="service-heading">
                        <a class="circle-read-more" href="service-details.html">
                            <h3>انبار و ذخیره سازی</h3>
                            <i class="flaticon-left"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="service-all text-center">
                    <p>شما همچنین می توانید با ما <a href="service-details.html">قرار ملاقات</a> بگذارید.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Service Area -->

<!-- End Began Area -->
<section class="began-area pb-70">
    <div class="container">
        <div class="section-title">
            <span>با نقش ها شروع شد</span>
            <h2>لطفا برای حفظ امنیت از نقشها پیروی کنید</h2>
            <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
        </div>
        <div class="began-top-wrap">
            <div class="row">
                <div class="col-lg-8">
                    <div class="began-wrap">
                        <h2>محصولات خود را با پریووز ایمن نگه دارید</h2>
                        <div class="row">
                            <div class="col-lg-4 col-sm-6 p-0">
                                <div class="single-began">
                                    <i class="flaticon-fast-delivery"></i>
                                    <h3>تحویل سریع</h3>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 p-0">
                                <div class="single-began">
                                    <i class="flaticon-lock"></i>
                                    <h3>امنیت برای ابزار بار</h3>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 p-0">
                                <div class="single-began">
                                    <i class="flaticon-stopwatch"></i>
                                    <h3>ردیابی واقعی</h3>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 p-0">
                                <div class="single-began">
                                    <i class="flaticon-payment-method"></i>
                                    <h3>پرداخت آسان</h3>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 p-0">
                                <div class="single-began">
                                    <i class="flaticon-warehouse"></i>
                                    <h3>پشتیبانی 24 ساعته</h3>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6 p-0">
                                <div class="single-began">
                                    <i class="flaticon-distribution"></i>
                                    <h3>انبار مخزن</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Began Area -->

<!-- Start Testimonials Area -->
<section class="testimonials-area fun-blue-bg ptb-100">
    <div class="container">
        <div class="section-title">
            <span>توصیفات مشتری</span>
            <h2>آنچه درباره ما می گویند</h2>
        </div>
        <div class="row">
            <div class="testimonials-top-wrap owl-carousel owl-theme">
                <div class="testimonials-wrap">
                    <img src="assets/img/testimonials/1.jpg" alt="Image">
                    <div class="testimonials-content">
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                        <h3>جان اسمیت</h3>
                        <ul>
                            <li>
                                <i class='bx bxs-star'></i>
                            </li>
                            <li>
                                <i class='bx bxs-star'></i>
                            </li>
                            <li>
                                <i class='bx bxs-star'></i>
                            </li>
                            <li>
                                <i class='bx bxs-star'></i>
                            </li>
                            <li>
                                <i class='bx bxs-star'></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="testimonials-wrap">
                    <img src="assets/img/testimonials/2.jpg" alt="Image">
                    <div class="testimonials-content">
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                        <h3>جان اسمیت</h3>
                        <ul>
                            <li>
                                <i class='bx bxs-star'></i>
                            </li>
                            <li>
                                <i class='bx bxs-star'></i>
                            </li>
                            <li>
                                <i class='bx bxs-star'></i>
                            </li>
                            <li>
                                <i class='bx bxs-star'></i>
                            </li>
                            <li>
                                <i class='bx bxs-star-half'></i>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="testimonials-wrap">
                    <img src="assets/img/testimonials/3.jpg" alt="Image">
                    <div class="testimonials-content">
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                        <h3>جان اسمیت</h3>
                        <ul>
                            <li>
                                <i class='bx bxs-star'></i>
                            </li>
                            <li>
                                <i class='bx bxs-star'></i>
                            </li>
                            <li>
                                <i class='bx bxs-star'></i>
                            </li>
                            <li>
                                <i class='bx bxs-star-half'></i>
                            </li>
                            <li>
                                <i class='bx bxs-star-half'></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Testimonials Area -->

<!-- Start Brand Area -->
<div class="brand-area pt-70 pb-70">
    <div class="container">
        <div class="row">
            <div class="brand-wrap owl-carousel owl-theme">
                <div class="brand-item">
                    <a href="#">
                        <img src="{% static 'img/brand/1.png'%}" alt="Image">
                    </a>
                </div>
                <div class="brand-item">
                    <a href="#">
                        <img src="{% static 'img/brand/2.png'%}" alt="Image">
                    </a>
                </div>
                <div class="brand-item">
                    <a href="#">
                        <img src="{% static 'img/brand/3.png'%}" alt="Image">
                    </a>
                </div>
                <div class="brand-item">
                    <a href="#">
                        <img src="{% static 'img/brand/4.png'%}" alt="Image">
                    </a>
                </div>
                <div class="brand-item">
                    <a href="#">
                        <img src="{% static 'img/brand/5.png'%}" alt="Image">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Brand Area -->

<!-- Start Blog Area -->

<!-- End Blog Area -->

<!-- Start Tracking Number Area -->
<div class="tracking-number-area fun-blue-bg ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-4">
                <div class="tracking-logo">
                    <img src="assets/img/tracking-logo.png" alt="Image">
                </div>
            </div>
            <div class="col-lg-6 col-md-8">
                <div class="tracking-body">
                    <form class="tracking-wrap">
                        <input type="text" class="input-tracking" placeholder="شماره پیگیری خود را تایپ کنید" name="Tracking">
                        <button class="default-btn active" type="submit" value="submit">پیگیری کن</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Tracking Number Area -->

<!-- Start Regional offices  Area -->

<!-- End Regional offices Area -->

<!-- Start Footer Top Area -->
<footer class="footer-top-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-widget">
                    <h3>خدمات شرکت</h3>
                    <ul>
                        <li><a href="#">انبارداری</a></li>
                        <li><a href="#">حمل و نقل هوایی</a></li>
                        <li><a href="#">حمل و نقل دریایی</a></li>
                        <li><a href="#">حمل و نقل جاده ای</a></li>
                        <li><a href="#">زنجیره تامین</a></li>
                        <li><a href="#">بسته بندی</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-widget">
                    <h3>صنایع شرکت</h3>
                    <ul>
                        <li><a href="#">مواد شیمیایی</a></li>
                        <li><a href="#">صنایع فلزی</a></li>
                        <li><a href="#">اتومبیل</a></li>
                        <li><a href="#">کالاهای مصرفی</a></li>
                        <li><a href="#">علم زندگی</a></li>
                        <li><a href="#">تجارت خارجی</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-widget">
                    <h3>خدمات ما</h3>
                    <ul>
                        <li><a href="#">درباره ما</a></li>
                        <li><a href="team.html">ملاقات با تیم ما</a></li>
                        <li><a href="blog.html">اخبار و رسانه ها</a></li>
                        <li><a href="#">مطالعات موردی</a></li>
                        <li><a href="contact.html">تماس با ما</a></li>
                        <li><a href="service.html">با ما همکاری کنید </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-widget">
                    <h3>درباره شرکت </h3>
                    <ul>
                        <li><a href="#">درباره</a></li>
                        <li><a href="#">رویکرد</a></li>
                        <li><a href="#">پایداری</a></li>
                        <li><a href="#">اخبار</a></li>
                        <li><a href="#">زنجیره تأمین</a></li>
                        <li><a href="#">بسته بندی</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Top Area -->
{% endblock content %}