{% extends 'base.html'%} {% load static %} {% block content %}
<!-- Start Counter Area -->
<section class="counter-area counter-area-five pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-counter">
                    <i class="flaticon-box"></i>
                    <h2>
                        <span class="traget">K</span> <span style="direction: ltr;" class="odometer" data-count="8845">00</span>
                    </h2>
                    <p>بسته های تحویل</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-counter">
                    <i class="flaticon-planet-earth"></i>
                    <h2>
                        <span class="traget">M</span> <span style="direction: ltr;" class="odometer" data-count="1507">00</span>
                    </h2>
                    <p>کشورهای تحت پوشش</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-counter">
                    <i class="flaticon-support"></i>
                    <h2>
                        <span class="traget">K</span> <span style="direction: ltr;" class="odometer" data-count="1000">00</span>
                    </h2>
                    <p>مشتری های راضی</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-counter">
                    <i class="flaticon-product-realise"></i>
                    <h2>
                        <span class="traget">M</span> <span style="direction: ltr;" class="odometer" data-count="4586">00</span>
                    </h2>
                    <p>تن کالا</p>
                </div>
            </div>
        </div>
    </div>
    <div class="lines">
        <div class="line-two"></div>
        <div class="line-two"></div>
        <div class="line-two"></div>
    </div>
</section>
<!-- End Counter Area -->
<section class="testimonials-three pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>توصیفات مشتری</span>
            <h2>آنچه درباره ما می گویند</h2>
        </div>
        <div class="row">
            <div class="testimonials-wrap-three owl-carousel owl-theme">
                <div class="testimonials-content-three">
                    <div class="testimonials-top-content">
                        <img src="assets/img/testimonials/4.jpg" alt="Image">
                        <h3>جان اسمیت</h3>
                        <span>ایران</span>
                    </div>
                    <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                    <ul>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                    </ul>
                </div>
                <div class="testimonials-content-three">
                    <div class="testimonials-top-content">
                        <img src="assets/img/testimonials/5.jpg" alt="Image">
                        <h3>جان اسمیت</h3>
                        <span>ایران</span>
                    </div>
                    <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                    <ul>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                    </ul>
                </div>
                <div class="testimonials-content-three">
                    <div class="testimonials-top-content">
                        <img src="assets/img/testimonials/6.jpg" alt="Image">
                        <h3>جان اسمیت</h3>
                        <span>ایران</span>
                    </div>
                    <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                    <ul>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="lines">
        <div class="line-two"></div>
        <div class="line-two"></div>
        <div class="line-two"></div>
    </div>
</section>
<!-- End Testimonials Area Three -->

<!-- Start Tracking Number Area -->
<div class="tracking-number-area tracking-number-area-five pb-70 pt-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="tracking-content">
                    <h2>محصول حمل و نقل خود را دنبال کنید</h2>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="tracking-body">
                    <form class="tracking-wrap">
                        <input type="text" class="input-tracking" placeholder="شماره پیگیری خود را تایپ کنید" name="Tracking">
                        <button class="default-btn active" type="submit" value="submit">پیگیری کن</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Tracking Number Area -->

<!-- Start Blog Area -->
<section class="blog-area blog-area-five pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>اخبار و وبلاگ</span>
            <h2>دریافت آخرین اخبار ما.</h2>
            <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <a href="news-details.html">
                        <img src="assets/img/blog/1.png" alt="Image">
                    </a>
                    <div class="blog-content">
                        <ul>
                            <li>
                                <a href="#">توسط: جان اسمیت</a>
                            </li>
                            <li>تحویل</li>
                            <li>30 دی 1398</li>
                        </ul>
                        <h3>
                            <a href="news-details.html">
                                صادرکنندگان در کل فروش می توانند پس انداز هزینه را بدست آورند
                            </a>
                        </h3>
                        <a class="read-more" href="news-details.html">
                            بیشتر بخوانید
                            <i class='bx bx-left-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <a href="news-details.html">
                        <img src="assets/img/blog/2.png" alt="Image">
                    </a>
                    <div class="blog-content">
                        <ul>
                            <li>
                                <a href="#">توسط: جان اسمیت</a>
                            </li>
                            <li>تحویل</li>
                            <li>30 دی 1398</li>
                        </ul>
                        <h3>
                            <a href="news-details.html">
                                صادرکنندگان در کل فروش می توانند پس انداز هزینه را بدست آورند
                            </a>
                        </h3>
                        <a class="read-more" href="news-details.html">
                            بیشتر بخوانید
                            <i class='bx bx-left-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="single-blog">
                    <div class="blog-content mb-13">
                        <ul>
                            <li>
                                <a href="#">توسط: جان اسمیت</a>
                            </li>
                            <li>مهندسی</li>
                            <li>30 دی 1398</li>
                        </ul>
                        <h3 class="mb-0">
                            <a class="mb-0" href="news-details.html">
                                صادرکنندگان در کل فروش می توانند پس انداز هزینه را بدست آورند
                            </a>
                        </h3>
                    </div>
                    <div class="blog-content mb-13">
                        <ul>
                            <li>
                                <a href="#">توسط: جان اسمیت</a>
                            </li>
                            <li>مهندسی</li>
                            <li>30 دی 1398</li>
                        </ul>
                        <h3 class="mb-0">
                            <a class="mb-0" href="news-details.html">
                                صادرکنندگان در کل فروش می توانند پس انداز هزینه را بدست آورند
                            </a>
                        </h3>
                    </div>
                    <div class="blog-content mb-13">
                        <ul>
                            <li>
                                <a href="#">توسط: جان اسمیت</a>
                            </li>
                            <li>مهندسی</li>
                            <li>30 دی 1398</li>
                        </ul>
                        <h3 class="mb-0">
                            <a class="mb-0" href="news-details.html">
                                صادرکنندگان در کل فروش می توانند پس انداز هزینه را بدست آورند
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Blog Area -->
{% endblock content %}