{% extends 'base.html'%} {% load static %} {% block content %}
<!-- Start Counter Area -->



<!-- ============== -->
<section class="counter-area counter-area-five pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-counter">
                    <i class="flaticon-box"></i>
                    <h2>
                        <span class="traget"></span> <span style="direction: ltr;" class="odometer" data-count="145">00</span>
                    </h2>
                    <p>بسته های آموزشی</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-counter">
                    <i class="flaticon-planet-earth"></i>
                    <h2>
                        <span class="traget"></span> <span style="direction: ltr;" class="odometer" data-count="117">00</span>
                    </h2>
                    <p>شهرهای تحت پوشش</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-counter">
                    <i class="flaticon-support"></i>
                    <h2>
                        <span class="traget"></span> <span style="direction: ltr;" class="odometer" data-count="237">00</span>
                    </h2>
                    <p>کاربران راضی</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-counter">
                    <i class="flaticon-product-realise"></i>
                    <h2>
                        <span class="traget">M</span> <span style="direction: ltr;" class="odometer" data-count="4586">00</span>
                    </h2>
                    <p>گواهی نامه های تحویل داده شده</p>
                </div>
            </div>
        </div>
    </div>
    <div class="lines">
        <div class="line-two"></div>
        <div class="line-two"></div>
        <div class="line-two"></div>
    </div>
</section>
<div class="tracking-number-area tracking-number-area-five pb-70 pt-70">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-5">

                <div class="tracking-content">
                    <h2>گواهی خود را دریافت کنید</h2>
                </div>

            </div>

            <div class="col-lg-7">
                <div class="tracking-body">
                    <button class="default-btn white" type="submit"><a href="{% url 'search:search' %}">جستو جو کنید</a></button>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- End Counter Area -->
<section class="testimonials-three pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>توصیفات مشتری</span>
            <h2>آنچه درباره ما می گویند</h2>
        </div>
        <div class="row">
            <div class="testimonials-wrap-three owl-carousel owl-theme">
                <div class="testimonials-content-three">
                    <div class="testimonials-top-content">
                        <!-- <img src="assets/img/testimonials/4.jpg" alt="Image"> -->
                        <h3>هانیه شریعتمداری</h3>
                        <span>ایران</span>
                    </div>
                    <!-- <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p> -->
                    <p>من برای صدور گواهی از این سایت استفاده کردم و به شدت از خدمات آن راضی هستم. سایت بسیار کارآمد و کاربرپسند است و به شما اجازه می‌دهد تا به راحتی و با سرعت گواهی‌های خود را طراحی و ارائه دهید. همچنین، خدمات پشتیبانی سایت نیز بسیار عالی
                        و دوستانه هستند.</p>
                    <ul>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                    </ul>
                </div>
                <div class="testimonials-content-three">
                    <div class="testimonials-top-content">
                        <!-- <img src="assets/img/testimonials/5.jpg" alt="Image"> -->
                        <h3>منوره محتشمی</h3>
                        <span>ایران</span>
                    </div>
                    <!-- <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p> -->
                    <p>شدیداً به این سایت برای صدور گواهی به صورت آنلاین توصیه می‌کنم. سایت بسیار آسان و راحت برای استفاده است و به شما این امکان را می‌دهد تا با استفاده از قالب‌های آماده و یا با طراحی اختصاصی، گواهی‌های خود را به راحتی و با کیفیت بالا طراحی
                        کنید.
                    </p>
                    <ul>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                    </ul>
                </div>
                <div class="testimonials-content-three">
                    <div class="testimonials-top-content">
                        <!-- <img src="assets/img/testimonials/6.jpg" alt="Image"> -->
                        <h3>رضا پودینه</h3>
                        <span>ایران</span>
                    </div>
                    <!-- <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p> -->
                    <p>من از خدمات صدور گواهی به صورت آنلاین این سایت استفاده کردم و نتیجه بسیار خوبی دریافت کردم. سایت بسیار حرفه‌ای و با کیفیت است و به شما این امکان را می‌دهد تا با استفاده از قالب‌های مختلف، گواهی‌های خود را به راحتی و با سرعت بالا طراحی
                        کنید.
                    </p>
                    <ul>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                        <li>
                            <i class='bx bxs-star'></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="lines">
        <div class="line-two"></div>
        <div class="line-two"></div>
        <div class="line-two"></div>
    </div>
</section>
<!-- End Testimonials Area Three -->

<!-- Start Tracking Number Area -->

<!-- End Tracking Number Area -->

<!-- Start Blog Area -->

<!-- End Blog Area -->
{% endblock content %}