.naav{
    display: flex;
    flex-wrap: wrap;
    margin-right: 35%;
    margin-top: 35px;
    
  }
  
  .naav .li{
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    padding-right: 20px;
  }
  .naav:hover a{
    color: #575757;
  }
  .naav a{
    color: #ffffff;
  }
  .naav:hover a:hover{
  color: #5cdb95;
  box-shadow: 0 2px 0 0 currentColor;
  }