{% load static %}
<!-- Start Footer Bottom Area -->
<footer class="footer-bottom-area fun-blue-bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="single-widget-bottom">
                    <ul>
                        <li>
                            <a href="terms.html">شرایط و ضوابط</a>
                        </li>
                        <li>
                            <a href="privacy.html">خط مشی رازداری</a>
                        </li>
                        <li>
                            <a href="log-in.html">ورود کارمند</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-widget-bottom">
                    <p>کپی رایت <i class="bx bx-copyright"></i> 1401. تمام حقوق قالب محفوظ است. طراحی و توسعه توسط <a href="https://www.rtl-theme.com/author/barat">Barat Hadian</a></p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="single-widget-bottom">
                    <ul class="social-link">
                        <li>
                            <a href="#">
                                <i class='bx bxl-twitter'></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class='bx bxl-facebook'></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class='bx bxl-instagram'></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class='bx bxl-linkedin'></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class='bx bxl-youtube'></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Bottom Area