{% load static %}
<!-- Start Header Area -->
<header class="header-area">
    <!-- Start Top Header Area -->
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header-left-content">
                        <a href="index.html">
                            <img src="{% static 'img/logo/logo-one.png'%}" alt="Logo">
                        </a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="header-right-content">
                        <ul>
                            <li>
                                <a href="tel:021-12345678">
                                    <i class='bx bxs-phone-call'></i>
                                    <span>تماس با پشتیبانی</span> 021-12345678
                                </a>
                            </li>
                            <li>
                                <a href="mailto:hello@prevoz.com">
                                    <i class='bx bx-envelope'></i>
                                    <span>پشتیبانی</span> hello@prevoz.com
                                </a>
                            </li>
                            <li class="pl-0">
                                <ul class="flag-wrap">
                                    <li class="flag-item-top">
                                        <a href="#" class="flag-bar">
                                            <img src="{% static 'img/flag/8-iran.png'%}" alt="Image">
                                            <span>ایران</span>
                                        </a>
                                        <ul class="flag-item-bottom">
                                            <li class="flag-item">
                                                <a href="#" class="flag-link">
                                                    <img src="{% static 'img/flag/2-united-kingdom.png'%}" alt="Image"> انگلستان
                                                </a>
                                            </li>

                                            <li class="flag-item">
                                                <a href="#" class="flag-link">
                                                    <img src="{% static 'img/flag/3-germany.png'%}" alt="Image"> آلمان
                                                </a>
                                            </li>
                                            <li class="flag-item">
                                                <a href="#" class="flag-link">
                                                    <img src="{% static 'img/flag/4-argentina.png'%}" alt="Image"> آرژانتین
                                                </a>
                                            </li>
                                            <li class="flag-item">
                                                <a href="#" class="flag-link">
                                                    <img src="{% static 'img/flag/5-australia.png'%}" alt="Image"> استرالیا
                                                </a>
                                            </li>
                                            <li class="flag-item">
                                                <a href="#" class="flag-link">
                                                    <img src="{% static 'img/flag/7-canada.png'%}" alt="Image"> کانادا
                                                </a>
                                            </li>
                                            <li class="flag-item">
                                                <a href="#" class="flag-link">
                                                    <img src="{% static 'img/flag/6-new-zealand.png'%}" alt="Image"> نیوزلند
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Top Header Area -->
    <div class="prevoz-nav-style">
        <div class="navbar-area">
            <!-- Menu For Mobile Device -->
            <div class="mobile-nav">
                <a href="index.html" class="logo">
                    <img src="assets/img/logo/logo-one.png" alt="Logo">
                </a>
            </div>
            <!-- Menu For Desktop Device -->
            <div class="main-nav">
                <nav class="navbar navbar-expand-md navbar-light">
                    <div class="container">
                        <a class="navbar-brand" href="index.html">
                            <img src="assets/img/logo/logo-one.png" alt="Logo">
                        </a>
                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-toggle active">
                                            صفحه اصلی
                                            <i class='bx bx-chevron-up'></i>
                                        </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="index.html" class="nav-link active">صفحه اصلی 1</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="index-2.html" class="nav-link">صفحه اصلی 2</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="index-3.html" class="nav-link">صفحه اصلی 3</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="index-4.html" class="nav-link">صفحه اصلی 4</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="index-5.html" class="nav-link">صفحه اصلی 5</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-toggle">
                                            صفحات
                                            <i class='bx bx-chevron-up'></i>
                                        </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="about.html" class="nav-link">درباره ما</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="why-us-choose.html" class="nav-link">درباره ما 2</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="team.html" class="nav-link">تیم</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="global-location.html" class="nav-link">موقعیت مکانی</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="faq.html" class="nav-link">سوالات متداول</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="coming-soon.html" class="nav-link">در دست ساخت</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="404.html" class="nav-link">خطای 404</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link dropdown-toggle">
                                                    کاربر
                                                    <i class='bx bx-chevron-up'></i>
                                                </a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="log-in.html" class="nav-link">ورود کاربر</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="sign-up.html" class="nav-link">ثبت نام کاربر</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="recover-password.html" class="nav-link">بازیابی رمز عبور</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="terms-conditions.html" class="nav-link">شرایط استفاده</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="privacy-policy.html" class="nav-link">خط مشی رازداری</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-toggle">
                                            شرکت
                                            <i class='bx bx-chevron-up'></i>
                                        </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="company-history.html" class="nav-link">تاریخچه شرکت</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="company-clients.html" class="nav-link">مشتری شرکت</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="careers.html" class="nav-link">مشاغل</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-toggle">
                                            خدمات
                                            <i class='bx bx-chevron-up'></i>
                                        </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="services.html" class="nav-link">خدمات</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="road-transport.html" class="nav-link">حمل و نقل جاده ای</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="air-transport.html" class="nav-link">حمل و نقل هوایی</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="service-details.html" class="nav-link">جزئیات خدمات</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-toggle">
                                            اخبار
                                            <i class='bx bx-chevron-up'></i>
                                        </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="news-grid.html" class="nav-link">اخبار شبکه ای</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="news-full-width.html" class="nav-link">اخبار تمام عرض</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="news-left-sidebar.html" class="nav-link">اخبار سایدبار</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="news-right-sidebar.html" class="nav-link">اخبار سایدبار 2</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="news-details.html" class="nav-link">جزئیات اخبار</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link dropdown-toggle">
                                            امکانات
                                            <i class='bx bx-chevron-up'></i>
                                        </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="request-quote.html" class="nav-link">دریافت نقل قول</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="global-location.html" class="nav-link">موقعیت مکانی</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="contact.html" class="nav-link">تماس با ما</a>
                                </li>
                            </ul>
                            <!-- Start Other Option -->
                            <div class="others-option">
                                <div class="search-wrap">
                                    <a href=".search">
                                        <i class='bx bx-search'></i>
                                    </a>
                                </div>
                                <button type="button" class="sidebar-menu" data-toggle="modal" data-target="#myModal2">
                                        <i class="flaticon-menu"></i>
                                    </button>
                            </div>
                            <!-- End Other Option -->
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- End Prevoz Navbar Area -->
</header>