{% load static %}
<!-- Start Preloader Area -->
<div class="preloader">
    <div class="lds-ripple">
        <div></div>
        <div></div>
    </div>
</div>
<!-- End Preloader Area -->

<!-- Start Prevoz Navbar Area -->
<div class="prevoz-nav-style prevoz-nav-style-four fixed-top">
    <div class="navbar-area">
        <!-- Menu For Mobile Device -->
        <div class="mobile-nav">
            <a href="index.html" class="logo">
                <img src="{% static 'img/logo/logo-four.png'%}" alt="Logo">
            </a>
        </div>
        <!-- Menu For Desktop Device -->
        <div class="main-nav">
            <nav class="navbar navbar-expand-md navbar-light">
                <div class="container">
                    <a class="navbar-brand" href="index.html">
                        <img src="{% static 'img/logo/logo-four.png'%}" alt="Logo">
                    </a>
                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle active">
											صفحه اصلی
												<!-- <i class='bx bx-chevron-up'></i> -->
											</a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle" s>
												خدمات
												<!-- <i class='bx bx-chevron-up'></i> -->
											</a>

                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link dropdown-toggle">
												اخبار
												<!-- <i class='bx bx-chevron-up'></i> -->
											</a>


                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">تماس با ما</a>
                            </li>
                        </ul>
                        <!-- Start Other Option -->
                        <div class="slider-btn">
                            <a class="default-btn white" href="{% url 'login_page' %}">
											ورود
										</a>
                            <a class="default-btn white" href="{% url 'singup_page' %}">
											ثبت نام
										</a>
                        </div>

                    </div>
                    <!-- End Other Option -->
                </div>
        </div>
        </nav>
    </div>
</div>
</div>
<!-- End Prevoz Navbar Area -->

<!-- Start Sidebar Modal -->
<div class="sidebar-modal">
    <div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">
									<i class="bx bx-x"></i>
								</span>
							</button>
                    <h2 class="modal-title" id="myModalLabel2">
                        <a href="index.html">
                            <img src="{% static 'img/logo/logo-one.png'%}" alt="Logo">
                        </a>
                    </h2>
                </div>
                <div class="modal-body">
                    <div class="sidebar-modal-widget">
                        <h3 class="title">درباره ما</h3>
                        <p>لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است. لورم ایپسوم به سادگی ساختار چاپ و متن را در بر می گیرد. لورم ایپسوم به مدت 40 سال استاندارد صنعت بوده است.</p>
                    </div>
                    <div class="sidebar-modal-widget">
                        <h3 class="title">پیوندهای اضافی</h3>
                        <ul>
                            <li>
                                <a href="log-in.html">ورود</a>
                            </li>
                            <li>
                                <a href="sign-up.html">ثبت نام</a>
                            </li>
                            <li>
                                <a href="faq.html">سوالات متداول</a>
                            </li>
                            <li>
                                <a href="#">خروج</a>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-modal-widget">
                        <h3 class="title">اطلاعات تماس</h3>
                        <ul class="contact-info">
                            <li>
                                <i class="bx bx-location-plus"></i> آدرس
                                <span>ایران ، تهران ، میدان آزادی ، خیابان 9 شرقی</span>
                            </li>
                            <li>
                                <i class="bx bx-envelope"></i> ایمیل
                                <span>hello@prevoz.com</span>
                            </li>
                            <li>
                                <i class="bx bxs-phone-call"></i> تلفن
                                <span>021-87654321, 021-12345678</span>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-modal-widget">
                        <h3 class="title">با ما در ارتباط باشید</h3>
                        <ul class="social-list">
                            <li>
                                <a href="#">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class='bx bxl-instagram'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class='bx bxl-linkedin'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class='bx bxl-youtube'></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Sidebar Modal -->

<!-- Start Search Box Modal -->
<div class="search-wrap">
    <div class="search">
        <button type="button" class="close">×</button>
        <form>
            <input type="search" value="" class="form-control" placeholder="جستجو کنید ..." />
            <button type="submit" class="default-btn">
						جستجو
					</button>
        </form>
    </div>
</div>
<!-- End Search Box Modal -->

<!-- Start Prevoz Slider Area -->
<section class="prevoz-slider-area prevoz-slider-area-five">
    <div class="prevoz-slider-style owl-carousel owl-theme">
        <div class="prevoz-slider-item slider-item-bg-15">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="prevoz-slider-text three">
                            <!-- <div class=""></div> -->


                            <!-- search in header -->
                            <div class="col-lg-7" style="margin: auto;">
                                <div class="tracking-body">
                                    <button class="default-btn white" type="submit"><a href="{% url 'search:search' %}">دریافت گواهی</a></button>
                                </div>
                            </div>
                            <!-- <div class="tracking-body">
                                <form class="tracking-wrap" style="width: 550px; margin-right:270px;opacity: 70px;">
                                    <input type="text" class="input-tracking" placeholder="کد ملی خود را وارد کنید" name="Tracking">
                                    <button class="default-btn white" type="submit" style="margin-left:290px;" value="submit">جست و جو</button>
                                </form>

                            </div> -->
                        </div>
                        <!-- <div class="col-lg-6 text-center text-lg-start">
                            <img class="img-fluid animated zoomIn" src="{% static 'img\slider/certificate.png'%}" alt="">
                        </div> -->
                        <div class="lines">
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="shape">
				<div class="shape-img">
					<img src="{% static img/slider-shape.png" alt="Image">
				</div>
			</div> -->
</section>